@import 'variables';
@import 'bp';

$block: component-Footer;

.#{$block} {
	color: white;
	background-color: $theme-color;
	margin-top: 2rem;

	.#{$block}__text {
		padding: 1rem;
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		span:not(:last-child) {
			margin-bottom: 0.3rem;
		}

		@include bp-above(sm) {
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			
			span {
				margin-bottom: 0;
			}
		}

		a {
			color: $theme-color-light;

			&:hover {
				color: $theme-color-highlight;
			}
		}
	}
}
