$block: component-footer;

.#{$block} {
	height: 4rem;
	color: white;
	background-color: #233347;

	.#{$block}__text {
		padding: 1rem;
		display: flex;
		align-items: center;
		justify-content: space-between;

		a {
			color: rgb(193, 221, 253);

			&:hover {
				color: rgb(228, 240, 255);
			}
		}
	}
}
