@import 'bp';

$block: component-title;

.#{$block} {
	background-color: #365475;
	min-height: 60vh;

	@media (min-width: $bp-xs) {
		min-height: 55vh;
	}

	h1.ui.header {
		margin: 0 3rem;
		color: white;
		font-size: 1.8rem;
		padding-top: 20vh;

		@media (min-width: $bp-xs) {
			font-size: 2rem;
			padding-top: 30vh;
		}
	
		.sub.header {
			margin: 0.5rem 1rem 0 1rem;
			color: lightgray;
		}
	}
}
