@import 'variables';
@import 'bp';

$block: component-TopMenu;

$transition-time: 0.4s;

.#{$block} {
	display: none;

	@include bp-above(md) {
		display: flex;
		position: fixed;
		z-index: 9999;
		width: 100%;
		
		&.reduced {
			background-color: $theme-color;
			
			.ui.menu a.item {
				font-size: 1rem;
			}
		}

		.ui.menu {
			display: flex;
			justify-content: center;
			border: none;
			border-radius: 0;
			box-shadow: none;
			background-color: rgba(0,0,0,0);
			
			a.item {
				color: white;
				border-radius: 0.5rem;
				
				transition: all 0.2s, font-size $transition-time;
				font-size: 1.3rem;

				&:hover {
					color: $theme-color-light;
					background-color: rgba(255,255,255,0.08);
				}

				&:active {
					color: $theme-color-highlight;
					background-color: rgba(255,255,255,0.2);
				}
			}
		}
	}
}
